<!-- Button to run simulations -->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  
  <!-- Button to start the simulation -->
  <a class="btn-floating btn-large cyan accent-3" [ngClass]="{hide: isLoading}" (click)="UpdatePlot()">
    <i class="large material-icons">play_arrow</i>
  </a>
  
  <!-- Loading animation -->
  <div class="preloader-wrapper big active" [ngClass]="{hide: !isLoading}">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-red">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-yellow">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-green">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  
</div>

<!-- Character panels -->
<div *ngFor="#characters of characterRows" class="row">
  
  <!-- Character panel -->
  <div *ngFor="#c of characters" class="col s3">
    <character [char]="c">Loading...</character>
  </div>
  
  <!-- New character panel -->
  <div *ngIf="characters.length < 4" class="col s3">
    <div class="card-panel valign-wrapper grey lighten-4" style="height:250px;">
      <div class="valign" style="margin: 0 auto;">
        <a class="btn-large btn-floating waves-effect waves-light grey lighten-1" (click)="AddCharacter()">
          <i class="large material-icons">perm_identity</i>
        </a>
      </div>
    </div>
  </div>
  
</div>

<!-- New character panel -->
<div *ngIf="characterRows.length == 0 || characterRows[characterRows.length-1].length == 4" class="row">
  <div class="col s3">
    <div class="card-panel valign-wrapper grey lighten-4" style="height:250px;">
      <div class="valign" style="margin: 0 auto;">
        <a class="btn-large btn-floating waves-effect waves-light grey lighten-1" (click)="AddCharacter()">
          <i class="large material-icons">perm_identity</i>
        </a>
      </div>
    </div>
  </div>
</div>